@charset "UTF-8";
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
}

html {
  font-size: 14px;
}

body {
  margin: 0px 40px;
  padding-bottom: 5px;
  font-family: Roboto, Arial, sans-serif;
  background-color: black;
  background-image: url("/files/img/background/6.gif");
  background-repeat: repeat;
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p {
  padding: 0 10px;
  line-height: 1.8;
}

table {
  table-layout: fixed;
  width: 100%;
}
table th,
table tr {
  padding: 5px 0px;
}

#content {
  margin: 0 auto;
  max-width: 1100px;
  padding: 5px;
  background: rgb(27, 14, 24);
  background-image: linear-gradient(180deg, rgb(27, 14, 24), rgb(24, 7, 20));
  color: rgb(240, 248, 255);
  border: 3px inset blueviolet;
  border-radius: 25px;
}

.header {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 600px;
  padding: 5px;
  padding-top: 2%;
  padding-bottom: 0.75%;
}
.header .name {
  text-align: center;
  justify-content: center;
}
.header .row img {
  padding: 8px 2px;
  width: 9.6%;
  aspect-ratio: 1;
}
.header .row:after {
  content: "";
  clear: both;
  display: table;
}

.navbar .description {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px 5px 20px;
  padding: 0.6em 10px;
  border: 5px double rgb(68, 21, 57);
  border-radius: 12px 12px 2px 2px;
  height: 25px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}
.navbar .description img {
  height: 25px;
}

.leftpane {
  float: left;
  display: inline;
  width: 30%;
}

.rightpane {
  float: right;
  display: inline;
  width: 70%;
}

.copyright {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 1100px;
  padding: 5px;
  padding-top: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

/* a much smaller and differently styled quote */
.subquote {
  padding: 0.4em 2em;
  margin: 10px 5px 20px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px double rgb(68, 21, 57);
  border-radius: 5px;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.06rem;
  line-height: 1.8rem;
  color: rgb(240, 248, 255);
}

/* informational header, kind of a placeholder */
.title {
  padding: 8px 40px;
  margin: 1em 20px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(68, 21, 57);
  border-radius: 5px;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 3px;
  color: rgb(240, 248, 255);
}

/* intricately styled large quote with an image behind it */
blockquote {
  padding: 0.5em 1.5em;
  margin: 1.5em 30px;
  position: relative;
  text-align: justify;
  background: rgba(0, 0, 0, 0.5);
  border-left: 10px solid rgba(240, 248, 255, 0.8);
  border-radius: 2px;
  font-size: 1.5rem;
  font-style: italic;
}
blockquote:before {
  color: aliceblue;
  font-family: "Arial", serif;
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 0.07em;
  line-height: 2.7em;
  display: inline;
  width: 100%;
  background-position: 0 -1000px;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

/* cloud image background for blockquote */
.cloudquote {
  background-image: url("/files/img/background/quotes/clouds.gif");
}

/* fire image background for blockquote */
.firequote {
  background-image: url("/files/img/background/quotes/fire.gif");
}

/* weird image background for blockquote */
.turingquote {
  background-image: url("/files/img/background/quotes/turinghammer.gif");
}

/* stormy image background for blockquote */
.stormyquote {
  background-image: url("/files/img/background/quotes/stormy.gif");
}

/* stormy image background for blockquote */
.darkcloudsquote {
  background-image: url("/files/img/background/quotes/darkclouds.gif");
}

/* explosion image background for blockquote */
.explosionquote {
  background-image: url("/files/img/background/quotes/explosion.gif");
}

body {
  height: 100%;
}

/* for the warning at the top of the page */
.warning {
  display: flex;
  margin: 0.8rem 3rem;
  background-color: black;
  border: 4px solid white;
  flex-direction: row;
}
.warning .warning-left {
  float: left;
  min-width: 24%;
  display: flex;
  justify-content: right;
}
.warning .warning-right {
  float: right;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}
.warning img {
  width: 55%;
  float: right;
  aspect-ratio: 1;
  padding: 1.8rem 2.5rem 1.8rem 2rem;
  margin: auto 0 auto auto;
}
.warning p {
  font-size: 2em;
  margin: auto;
}

/* for the rest of the page */
h1 {
  font-weight: 400;
  font-size: 2.25rem;
  padding-left: 8px;
}

h3 {
  margin: 0;
  padding: 5px 0px 10px 5px;
  font-weight: 500;
  font-size: 1.6rem;
}

p {
  margin: 0px 0px 0px 2px;
  font-size: 17px;
}

.textcontainer {
  color: rgb(240, 248, 255);
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  padding: 5px 30px 20px 30px;
  font-family: "Open Sans", apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
}

.leftbox {
  width: 76%;
  float: left;
  margin-top: 10px;
  text-align: justify;
}
.leftbox .investigationBox {
  padding: 0px 3px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: 5px;
}
.leftbox .investigationBox p {
  padding-left: 7px;
}
.leftbox .summarybox {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px 15px 5px;
  margin-bottom: 15px;
}
.leftbox .summarybox .summaryTitle {
  margin-top: 18px;
  margin-bottom: 3px;
}
.leftbox .summarybox h3 {
  padding-bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.rightbox {
  float: right;
  width: 22%;
  text-align: left;
  background-color: rgb(27, 14, 24);
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  max-height: 1532px;
}
.rightbox h3 {
  padding: 7px 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.rightbox img {
  width: 75%;
  margin: 10px 12.5%;
}