a {
  text-decoration: none;
}

.fixedresize {
  max-width: 100%;
  height: auto;
}

.movieTable {
  border-spacing: 16px 6px;
  margin-bottom: 16px;
}

.movieElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(68, 21, 57, 0.6);
  border: 3px solid #441539;
  border-radius: 6px;
  max-width: 640px;
  padding: 0px;
  padding-bottom: 14px;
}
.movieElement:hover {
  background-color: #441539;
}
.movieElement:hover img {
  filter: saturate(500%);
}
.movieElement .movieTitle {
  color: white;
  font-family: "Times New Roman";
  text-decoration: underline;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  margin: 8px;
}
.movieElement .movieSubtitle {
  color: red;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0px;
  line-height: 17px;
  font-size: 17px;
}
.movieElement img {
  width: 650px;
  border-radius: 4px;
}

.infoHeader {
  color: rgb(240, 248, 255);
  text-align: center;
  padding: 0 40px;
}
.infoHeader p {
  margin-bottom: 12px;
}
.infoHeader .youtubeLink {
  color: rgb(240, 248, 255);
  text-decoration: underline;
}
.infoHeader .youtubeLink:hover {
  color: #ffc4c4;
}
.infoHeader .pink, .infoHeader .pinkI {
  color: #ffc4c4;
}
.infoHeader .pinkI {
  font-style: italic;
}