/* scrolling text on homepage */
div#scrollingtext {
  max-width: 1050px;
  background: rgb(27, 14, 24);
  color: aliceblue;
  margin: 2px auto 15px auto;
  border-radius: 8px;
  border: 2px solid rgba(137, 43, 226, 0.521);
}
div#scrollingtext .marquee {
  display: flex;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 0.1rem;
}
div#scrollingtext .marquee #marqueetext {
  display: inline-block;
  font-size: 16px;
  animation: scroll 10s linear infinite;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: 0.1rem;
  min-width: 100%;
  flex: 0 0 auto;
  margin: 2px;
  padding: 0rem 0.1rem;
  text-align: center;
}
div#scrollingtext .marquee #marqueetext span {
  padding: 0 0.2%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0.1rem));
  }
}