body {
  margin: 0px 40px;
  padding-bottom: 5px;
  font: 90% Roboto, Arial, sans-serif;
  background-image: url("/files/img/background/6.gif");
  background-repeat: repeat;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p {
  padding: 0 10px;
  line-height: 1.8;
}

table {
  table-layout: fixed;
  width: 100%;
}
table th,
table tr {
  padding: 5px 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
}

#content {
  margin: 0 auto;
  max-width: 1100px;
  padding: 5px;
  background: rgb(27, 14, 24);
  background-image: linear-gradient(180deg, rgb(27, 14, 24), rgb(24, 7, 20));
  color: rgb(240, 248, 255);
  border: 3px inset blueviolet;
  border-radius: 25px;
}

.leftpane {
  float: left;
  display: inline;
  width: 30%;
}

.rightpane {
  float: right;
  display: inline;
  width: 70%;
}

.title {
  padding: 8px 40px;
  margin: 1em 20px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(68, 21, 57);
  border-radius: 5px;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 3px;
  color: rgb(240, 248, 255);
}

.header {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 600px;
  padding: 5px;
  padding-top: 2%;
  padding-bottom: 0.75%;
}
.header .name {
  text-align: center;
  justify-content: center;
}
.header .row img {
  padding: 8px 2px;
  width: 9.6%;
  aspect-ratio: 1;
}
.header .row:after {
  content: "";
  clear: both;
  display: table;
}

.navbar .description {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px 5px 20px;
  padding: 0.6em 10px;
  border: 5px double rgb(68, 21, 57);
  border-radius: 2px;
  height: 25px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 95%;
  letter-spacing: 1px;
}
.navbar .description img {
  height: 25px;
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 80%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}