$main-purple:rgb(68, 21, 57);
$purple-1: rgba(137, 43, 226, 0.521);

$dark-purple:rgb(27, 14, 24);
$dark-purple-offset:rgb(24, 7, 20);

$warning-red: rgb(255, 0, 0);

$light-blue: rgb(240, 248, 255);

$light-grey:rgb(204, 204, 204);
$off-black: rgb(3, 0, 0);
$transparent-black:rgba(0, 0, 0, 0.4);
$transparent-black-2:rgba(0, 0, 0, 0.5);
$transparent-grey:rgba(255, 255, 255, 0.4);

// fun colors
$blue-violet:blueviolet;
