@use "colors" as c;

$image_path: "/files/img/";
$background_path: $image_path + "global/background/";

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin wrapper {
    display: flex;
}

.center {
    @include center;
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 14px;
    min-width: 600px;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body {
    visibility: visible !important;

    margin: 0px 40px;
    padding-bottom: 5px;
    font-family: Roboto, Arial, sans-serif;
    background-color: black;
    background-image: url($background_path + "6.gif");
    background-repeat: repeat;
    font-size: 14px;
    font-weight: 300;
}

img {
    font-size: 0;
}

a {
    text-decoration: none;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

table {
    table-layout: fixed;
    width: 100%;

    th,
    tr {
        padding: 5px 0px;
    }
}

#content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    background: c.$dark-purple;
    background-image: linear-gradient(
        180deg,
        c.$dark-purple,
        c.$dark-purple-offset
    );
    color: c.$light-blue;
    border: 3px inset c.$blue-violet;
    border-radius: 25px;
}

// dancing letters
.header {
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    padding-top: 2%;
    padding-bottom: 0.75%;

    .name {
        display: flex;
        justify-content: center;
        text-align: center;

        img {
            height: auto;
            width: 9.6%;
            aspect-ratio: 1;
            object-fit: fill;
            padding: 10px 4px;
        }
    }
}

.navbar {
    .left {
        border-radius: 14px 2px 2px 2px;
        a {
            display: inline-block;
        }
    }

    .right {
        border-radius: 2px 14px 2px 2px;
    }

    .navbar-element {
        text-align: center;
        background: c.$transparent-black;
        margin: 10px 5px 20px;
        padding: 0.6em 10px;
        border: 5px double c.$main-purple;
        height: 25px;

        font-family: "Times New Roman", serif;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 1px;

        img {
            width: auto;
            height: 25px;
            //to make it easier to click
            padding: 0 20px;
        }
    }
}

.leftpane {
    float: left;
    display: inline;
    width: 30%;
}

.rightpane {
    float: right;
    display: inline;
    width: 70%;
}

.copyright {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    min-height: 400px;
    max-width: 1100px;
    padding: 5px;

    padding-top: 30px;
    text-align: center;
    color: c.$transparent-grey;
}
