$image_path: "../../files/img/";
$background_path: $image_path + "background/";

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin wrapper {
    display: flex;
}