// imports
@use 'colors' as c;

$image_path: "/files/img/";
$background_path: $image_path + "background/";

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin wrapper {
    display: flex;
}

.center {
    @include center;
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 14px;
}

body {
    margin: 0px 40px;
    padding-bottom: 5px;
    font-family: Roboto, Arial, sans-serif;
    background-color: black;
    background-image: url($background_path + '6.gif');
    background-repeat: repeat;
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    padding: 0 10px;
    line-height: 1.8;
} 

table {
    table-layout: fixed;
    width: 100%;
    th,
    tr {
        padding: 5px 0px;
    }
}

#content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    background: c.$dark-purple;
    background-image: linear-gradient(180deg, c.$dark-purple, c.$dark-purple-offset);
    color: c.$light-blue;
    border: 3px inset blueviolet;
    border-radius: 25px;
}

// dancing letters
.header {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
    padding: 5px;

    padding-top: 2%;
    padding-bottom: 0.75%;

    .name {
        text-align: center;
        justify-content: center;
    }

    .row {
        img {
            padding: 8px 2px;
            width: 9.6%;
            aspect-ratio: 1;
        }

        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
}

.navbar {
    .description {
        text-align: center;
        background: c.$transparent-black;
        margin: 10px 5px 20px;
        padding: 0.6em 10px;
        border: 5px double c.$main-purple;
        border-radius: 12px 12px 2px 2px;
        height: 25px;
    
        font-family: 'Times New Roman', serif;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 1px;
        img {
            height: 25px;
        }
    }
}

.leftpane {
    float: left;
    display: inline;
    width: 30%;
}

.rightpane {
    float: right;
    display: inline;
    width: 70%;
}

.copyright {
    @include center;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    padding-top: 30px;
    text-align: center;
    color: c.$transparent-grey;
}