// imports
@use "colors" as c;
@use "global" as g;

/* a much smaller and differently styled quote */
.subquote {
    padding: 0.4em 1.5em;
    margin: 10px 5px 20px;

    background: rgba(0, 0, 0, 0.4);
    border: 2px double c.$main-purple;
    border-radius: 5px;

    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 1rem;

    font-style: italic;
    letter-spacing: 0.06rem;
    line-height: 1.8rem;
    color: c.$light-blue;
}

/* informational header, kind of a placeholder */
.title {
    padding: 8px 40px;
    margin: 1em 20px;
    margin-bottom: 0px;

    background: rgba(0, 0, 0, 0.5);
    border: 5px solid c.$main-purple;
    border-radius: 5px;

    text-align: center;
    font-family: Garamond, serif;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 3px;
    color: c.$light-blue;
}

/* intricately styled large quote with an image behind it */
blockquote {
    padding: 0.5em 1.5em;
    margin: 1.5em 30px;
    position: relative;
    //text-align: justify;

    background: rgba(0, 0, 0, 0.5);
    border-left: 10px solid rgba(c.$light-blue, 0.8);
    border-radius: 2px;
    font-size: 1.5rem;
    font-style: italic;

    &:before {
        color: c.$light-blue;
        font-family: "Arial", serif;
        content: "\201C";
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p {
        font-family: "Times New Roman", serif;
        font-style: italic;
        font-size: 1.1em;
        letter-spacing: 0.07em;
        line-height: 2.7em;

        display: inline;
        width: 100%;
        background-position: 0 -1000px;
        background-clip: text;
        box-decoration-break: clone;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
    }
}

/* cloud image background for blockquote */
.cloudquote {
    background-image: url(g.$background_path + "quotes/clouds.gif");
}

/* fire image background for blockquote */
.firequote {
    background-image: url(g.$background_path + "quotes/fire.gif");
}

/* weird image background for blockquote */
.turingquote {
    background-image: url(g.$background_path + "quotes/turinghammer.gif");
}

/* stormy image background for blockquote */
.stormyquote {
    background-image: url(g.$background_path + "quotes/stormy.gif");
}

/* stormy image background for blockquote */
.darkcloudsquote {
    background-image: url(g.$background_path + "quotes/darkclouds.gif");
}

/* explosion image background for blockquote */
.explosionquote {
    background-image: url(g.$background_path + "quotes/explosion.gif");
}

/* wavy rainbow static image background for blockquote */
.rainbowstaticquote {
    background-image: url(g.$background_path + "quotes/wavyrainbow.gif");
}
