@use "colors" as c;
@use "global" as g;
@use "_quotes";

h2 {
    font-family: Garamond, serif;
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 12px;
}

a {
    &:link {
        color: white;
    }

    &:visited {
        color: gray;
    }
}

.wrapper {
    display: block;
    margin-top: 10%;
}

#content {
    padding-top: 30px;
    max-width: 800px;
}

.slide-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". t .";
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 60px;

    label {
        text-align: right;
        padding-right: 5px;
    }

    .freqContainer {
        padding-left: 5px;
    }

    input.frequencytext[type="number"] {
        font-size: 11px;
        width: 32%;
    }

    .start-bar {
        grid-area: t;
        margin: 0 auto;
        white-space: nowrap;
    }
}

.timer {
    margin-top: 5%;
    margin-left: 32%;
    //font-size: 50px;
}

.stopbar {
    margin-top: 2%;
    margin-left: 44%;
    display: none;
}

button {
    text-align: center;
    font-size: 15px;
    font-family: courier;

    &.nonButton {
        background: none;
        border: none;
        color: white;
        text-decoration: underline;
    }
}

.aboutDiv {
    font-size: 12px;
}
