@use "colors" as c;
@use "global" as g;
@use "_quotes";

.title-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-top: 18px;

    h1 {
        margin: 0px 20px;
        font-size: 60px;
        font-family: "Times New Roman", serif;
        text-align: center;
    }

    img {
        width: 60px;
        height: auto;
        &:first-child {
            margin-left: auto;
        }
    }
}

.subtitle-container {
    padding: 24px 60px 16px 60px;

    font-size: 16px;
    color: c.$light-grey;
    text-align: center;
}

.section-container {
    margin: 38px;

    .section-title {
        margin-bottom: 0;
        padding: 10px;

        font-size: 20px;
        font-family: "Times New Roman", serif;
        text-align: center;
        font-weight: bold;
        background-color: c.$transparent-black;
        border: 2px solid c.$light-grey;
        border-radius: 6px 6px 0 0;
    }
}

.section-links {
    padding: 10px;
    background-color: rgba(c.$main-purple, 0.4);
    border: 2px solid c.$light-grey;
    border-radius: 0 0 6px 6px;
    border-top: 0;

    .link {
        margin: 20px 12px;
        max-width: 780px;

        .link-title {
            font-size: 36px;
            text-decoration: underline;
            color: #cc0000;
        }

        .link-description {
            margin-top: 6px;
            margin-bottom: 20px;

            font-size: 16px;
            color: c.$light-blue;
        }
    }
}
