// imports
@use 'colors' as c;
@use 'global' as g;

// used stylesheets
@use '_quotes';

.chat-container {
    padding: 15px 0px;
    margin: 0 20px;
}

.chatbox {
    border: 3px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.5);
    color: c.$light-blue;
    border-radius: 5px;
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 0.5em 30px;
    padding: 0.5em;

    p {
        margin: 8px;
        padding-left: 80px;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

    img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        border: 2px solid c.$transparent-grey;
    }

    .time-right {
        float: right;
        color:  c.$transparent-grey;
        font-style: italic;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}