// imports
@use 'colors' as c;
@use 'global' as g;

// used stylesheets
@use '_quotes';

a {
    text-decoration: none;
}

.infoHeader {
    color: c.$light-blue;
    text-align: center;
    padding: 0 40px;

    p {
        margin-bottom: 12px;
    }
}

.linkTable {
    border-spacing: 16px 6px;
    margin-bottom: 16px;
    padding: 0px;
}

.linkElement {
    @include g.center;
    border-radius: 6px;
    max-width: 480px;
    padding: 0px;

    position: relative;
    text-align: center;

    &:hover {
        img {
            filter: saturate(900%);
        }
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .imageThumb img {
        border-radius: 24px;
        background-color: rgba(c.$main-purple, 0.6);
        border: 3px solid rgba(c.$main-purple, 1);
    }
}

.unavailable {
    filter: grayscale(95%) blur(4px);
}

.elementTitle {
    position: absolute;
    bottom: 0.7em;
    left: 0.9em;

    color: c.$light-blue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.6rem;
    font-family: 'Brush Script MT', cursive;
}

.elementIcons {
    position: absolute;
    top: 1em;
    right: 0.6em;
    
    width: 34px;
    height: 34px;
}