// imports
@use 'colors' as c;
@use 'global' as g;

// used stylesheets
@use '_quotes';

$borderRadius: 6px;

@mixin qaItem {
    padding: 10px;
    border: 2px solid c.$light-grey;
    border-radius: $borderRadius $borderRadius 0 $borderRadius;
    background-color: rgba(c.$main-purple, 0.4);
}

.faq-container {
    padding: 10px 20px 20px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: c.$light-blue;

    .faq-item {
        margin-bottom: 20px;
    
        .question {
            @include qaItem();
            padding-left: 14px;
            font-weight: bold;
            background-color: c.$transparent-black;
        }
        
        .answer {
            @include qaItem();
            margin-left: 14px;
            border-top: 0;
            border-radius: 0 0 $borderRadius $borderRadius; 
            text-align: justify;
        }
    }

    h3 {
        padding-left: 15px;
    }
}

.title-text {
    margin: 20px;
}

/* scrolling image on faq page */
.scrollingimage {
    @include g.center;
    width: 84%;
    padding: 20px;
    position: sticky;
    top: 15px;
}