// imports
@use 'colors' as c;
@use 'global' as g;

// used stylesheets
@use 'styles';
@use '_quotes';

@mixin qaItem {
    padding: 10px;
    border: 1px solid c.$light-grey;
    border-radius: 4px;
    background-color: rgba(c.$main-purple, 0.4);
}

.faq-container {
    padding: 10px 20px 20px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: c.$light-blue;

    .faq-item {
        margin-bottom: 20px;
    
        .question {
            @include qaItem();
            font-weight: bold;
            background-color: c.$transparent-black;
        }
        
        .answer {
            @include qaItem();
        }
    }
}

/* scrolling image on faq page */
.scrollingimage {
    @include g.center;
    width: 84%;
    padding-top: 20px;
    position: sticky;
    top: 15px;
}