@use "colors" as c;
@use "global" as g;
@use "_quotes";

:root {
    --splash-screen-background: c.$main-purple;
}

#flash-player-container {
    display: flex;
    min-height: 400px;

    ruffle-player {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

.flash-list-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px 14px;

    padding: 0px;
    margin: 25px;
    margin-top: 15px;
}

.flash-item {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-self: center;
    padding: 0px;

    .flash-title {
        position: absolute;
        bottom: 0.4em;
        left: 0.4em;
        margin-right: 0.2em;

        color: c.$light-blue;
        font-size: 1.5rem;
        font-family: Garamond, serif;

        background: rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 2px 6px;
    }

    .flash-image img {
        display: block;
        width: 480px;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: fill;

        border-radius: 10px;
        border: 3px solid rgba(c.$main-purple, 1);
        background-color: rgba(c.$main-purple, 0.6);
    }

    &:hover {
        img {
            filter: saturate(900%) blur(1px) grayscale(20%);
        }

        .flash-title {
            background: rgba(0, 0, 0, 0.9);
        }
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}
