// imports
@use 'colors' as c;
@use 'global' as g;

// used stylesheets
@use '_quotes';

$gap: 0.1rem;

// the buttons
.buttontable {
    padding: 1em 2em;
    padding-top: 10px;

    .eye {
        cursor: default;
        height: auto;
        width: 84%; 
        padding: 0.5em 0px
    }

    .button {
        height: auto;
        width: 84%;
        box-shadow: 0 0 2px 2px black;
        border-radius: 30px;

        &:hover {
            box-shadow: 0 0 3px 3px plum;
            border-radius: 25px;
        }

        &.comingsoon {
            box-shadow: 0 0 2px 2px black;
            border-radius: 25px;
            filter: grayscale(95%) blur(6px);
        }
    }
}

.aligators {
    height: auto;
    width: 70%; 
    margin-bottom: 10px;
}

/* scrolling text on homepage */
div.scrollingtext {
    max-width: 1050px;
    background: c.$dark-purple;
    color: aliceblue;
    margin: 2px auto 15px auto;

    border-radius: 8px;
    border: 2px solid c.$purple-1;

    .marquee {
        display: flex;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
        user-select: none;
        gap: $gap;

        .marqueetext {
            display: inline-block;
            font-size: 16px;
            animation: scroll 10s linear infinite;
            flex-shrink: 0;
            display: flex;
            justify-content: space-around;
            gap: $gap;
            min-width: 100%;
            flex: 0 0 auto;
            margin: 2px;
            padding: 0rem 0.1rem;
            text-align: center;

            span {
                padding: 0 0.2%;
            }
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - $gap));
    }
}