// imports
@use 'colors' as c;
@use 'global' as g;

// the buttons
.buttontable {
    padding: 1em 2em;
    padding-top: 10px;

    .button {
        width: 84%;
        box-shadow: 0 0 2px 2px black;
        border-radius: 25px;

        &:hover {
            box-shadow: 0 0 3px 3px plum;
            border-radius: 25px;
        }

        &.comingsoon {
            box-shadow: 0 0 2px 2px black;
            border-radius: 25px;
            filter: grayscale(95%) blur(4px);
        }
    }
}