@use "colors" as c;
@use "global" as g;
@use "_quotes";

$links_image_path: g.$image_path + "links/";

@mixin fire-background {
    background-image: url($links_image_path + "fire.gif");
    background-size: cover;
}

@mixin slime-background {
    background-image: url($links_image_path + "slime.gif");
    background-size: cover;
}

#full-element-container {
    margin: 26px;
}

.decoder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    border-radius: 20px 20px 2px 2px;

    .decoder-element {
        @include fire-background();
        user-select: none;

        font-size: 18px;
        padding: 0.5em 1.2em;
        margin-top: auto;

        border: 0px;
        border-bottom: 2px solid c.$main-purple;
        border-style: solid;

        &.selected {
            @include slime-background();
            font-size: 24px;
            padding-left: 1.7em;
            padding-right: 1.7em;

            background-color: #10080e;
            border: 2px solid rgba(c.$main-purple, 0.8);
            border-radius: 12px 12px 2px 2px;
            border-bottom: 0 solid #10080e;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &::after {
        @include fire-background();
        content: "";
        background-size: 130px auto;
        flex-grow: 1;
        border: 0px;
        border-bottom: 2px solid rgba(c.$main-purple, 0.8);
    }
}

.link-container {
    display: block;
    padding: 30px 20px 30px 20px;
    text-align: center;

    background-image: linear-gradient(180deg, #10080e, rgb(32, 0, 32));
    border: 2px solid rgba(c.$main-purple, 0.8);
    border-radius: 0px 0px 8px 8px;
    border-top: 0;
    word-wrap: break-word;

    a {
        font-size: 30px;
        margin: 0px 12px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .simplified {
        text-align: left;
        padding-left: 14px;

        a {
            margin: 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                content: "• ";
            }
        }
    }
}

.disclaimer {
    display: flex;
    margin: 0.8rem 4rem;

    background-color: c.$off-black;
    border: 2px groove black;
    flex-direction: row;
    
    img {
        width: 170px;
        height: 125px;
        margin: auto;
        padding: 10px;
    }
    .disclaimer-text {
        margin: auto;

        #disclaimer-red {
            color: c.$warning-red;
            font-size: 26px;
            font-style: normal;
        }
        p {
            font-size: 20px;
            line-height: normal;
            margin: 5px 10px;
            padding-left: 0;
            font-style: italic;
        }
    }
}

.all {
    color: c.$light-blue;
}

.tech {
    color: mediumturquoise;
}

.info {
    color: orange;
}

.art {
    color: hotpink;
}

.books {
    color: yellow;
}

.mscl {
    color: limegreen;
}
