@use "colors" as c;
@use "global" as g;
@use "_quotes";

a {
    text-decoration: none;
}

.projects-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;

    padding: 0px;
    margin: 25px;
    margin-top: 15px;
}

.projects-item {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-self: center;
    padding: 0px;

    .projects-title {
        position: absolute;
        bottom: 0.7em;
        left: 0.9em;

        color: c.$light-blue;
        font-size: 1.6rem;
        font-family: Garamond, serif;

        background: rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 2px 6px;
    }

    .projects-icon {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 34px;
        height: 34px;
        //filter: grayscale(20%);
    }

    .projects-image img {
        display: block;
        width: 480px;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;

        border-radius: 14px;
        border: 3px solid rgba(c.$main-purple, 1);
        background-color: rgba(c.$main-purple, 0.6);
    }

    &:hover {
        img {
            filter: saturate(900%);
        }
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

.unavailable {
    .projects-image {
        filter: grayscale(95%) blur(4px);
    }
    .projects-title {
        display: none;
    }
}
