@use "colors" as c;
@use "global" as g;
@use "_quotes";

a {
    text-decoration: none;
}

.projects-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;

    padding: 0px;
    margin: 25px;
    margin-top: 15px;
}

.projects-item {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-self: center;
    padding: 0px;

    .projects-title {
        position: absolute;
        bottom: 0.7em;
        left: 0.9em;

        color: c.$light-blue;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        font-size: 1.6rem;
        font-family: "Brush Script MT", cursive;
    }

    .projects-icon {
        position: absolute;
        top: 1em;
        right: 0.7em;

        width: 34px;
        height: 34px;
    }

    .projects-image img {
        border-radius: 14px;
        background-color: rgba(c.$main-purple, 0.6);
        border: 3px solid rgba(c.$main-purple, 1);
    }

    &:hover {
        img {
            filter: saturate(900%);
        }
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

.unavailable {
    filter: grayscale(95%) blur(4px);
}
