// Colors
@use 'colors' as c;

/* scrolling text on homepage */
div#scrollingtext {
  max-width: 1050px;
  background: c.$dark-purple;
  color: aliceblue;
  margin: 2px auto 15px auto;

  border-radius: 8px;
  border: 2px solid rgba(137, 43, 226, 0.521);

  .marquee {
    --gap: 0.1rem;
    display: flex;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    user-select: none;
    gap: var(--gap);

    #marqueetext {
      display: inline-block;
      font-size: 16px;
      animation: scroll 10s linear infinite;
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      gap: var(--gap);
      min-width: 100%;
      flex: 0 0 auto;
      margin: 2px;
      padding: 0rem 0.1rem;
      text-align: center;

      span {
        padding: 0 0.2%;
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}