/* faq */
.faq-container {

    padding: 20px;
    padding-left: 0;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .question {
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .answer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* scrolling image on faq page */
  .scrollingimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
  
    position: sticky;
    top: 45px;
  }
  