.fixedresize {
    max-width: 100%;
    height: auto;
}

.movieTable {
    border-spacing: 16px 6px;
    margin-bottom: 16px;
}

.movieElement {
    background-color: rgba(46, 15, 39, 0.8);
    border: 3px solid rgba(68, 21, 57, 0.4);
    border-radius: 6px;
    max-width: 640px;
    padding: 0px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.movieElement:hover {
    background-color: rgba(68, 21, 57, 0.8);
}

.movieElement h5 {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    margin: 8px;
}

.movieElement h4 {
    color: red;
    font-family: "Times New Roman";
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
    line-height: 17px;
    font-size: 17px;
}

.movieElement img {
    width: 650px;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.infoHeader {
    text-align: center;
    padding: 0 40px;
}

.infoHeader p {
    margin-bottom: 12px;
}

.youtubeLink {
    color: white; 
    text-decoration: underline;
}

.youtubeLink:hover {
    color: #ffc4c4;
}