.fixedresize {
    max-width: 100%;
    height: auto;
}

h5 {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    margin: 8px;
}

h4 {
    color: red;
    font-family: "Times New Roman";
    text-align: center;
    margin-top: 12px;
    line-height: 17px;
    font-size: 17px;
}

.movieInfoHeader {
    text-align: center;
    padding: 0 40px;
}

.movieTable {
    border-spacing: 20px 13px;
}

.movieTable img {
    width: 560px;
    border-radius: 3px;
}