/* scrolling text */
div#scrollingtext {
    margin: 0 auto;
    max-width: 1050px;
    background: #1b0e18;
    color: aliceblue;
    margin-top: 2px;
    margin-bottom: 15px;

    border-style: solid;
    border-color: rgba(137, 43, 226, 0.521);
    border-width: 2px;
    border-radius: 8px;
}

.marquee {
    --gap: 0.1rem;
    display: flex;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    user-select: none;
    gap: var(--gap);
}

#marqueetext {
    display: inline-block;
    font-size: 16px;
    animation: scroll 10s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    flex: 0 0 auto;
    margin: 2px;
    padding: 0rem 0.1rem;
    text-align: center;
}

#marqueetext span{
  padding: 0 0.2%;
}

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
/* blockquote text with fire */
.firetext {
  display: inline;

  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;

  width: 100%;
  background-image: url("../img/fire.gif");
  background-position: 0 -1000px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
