/* intricately styled large quote with an image behind it */
blockquote {
  quotes: "\201C" "\201D";
  background: rgba(0, 0, 0, 0.5);
  border-left: 10px solid #ccc;
  margin: 1.5em 30px;
  padding: 0.5em 1.5em;
  border-radius: 2px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;

  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;

  width: 100%;
  background-position: 0 -1000px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* cloud image background for blockquote */
.cloudquote {
  background-image: url("../img/clouds.gif");
}

/* fire image background for blockquote */
.firequote {
  background-image: url("../img/fire.gif");
}

/* white background for god quote */
.wordofgod {
  background-color: white;
}

/* a much smaller and differently styled quote */
.subquote {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px 5px 20px;
  padding: 0.4em 80px;
  border-radius: 5px;
  border-width: 2px;
  border-style: double;
  border-color: #441539;

  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}
