/* intricately styled large quote with an image behind it */
blockquote {
  background: rgba(0, 0, 0, 0.5);
  border-left: 10px solid #ccc;
  margin: 1.5em 30px;
  padding: 0.5em 1.5em;
  border-radius: 2px;

  font-size: 1.4em;
  font-style: italic;
  line-height: 1.6;
  position: relative;
}

blockquote:before {
  color: #ccc;
  font-family: 'Arial', serif;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 22px;
  font-size: 2.2vmin;
  letter-spacing: 0.2vmin;
  line-height: 6vmin;

  display: inline;
  width: 100%;
  background-position: 0 -1000px;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

/* cloud image background for blockquote */
.cloudquote {
  background-image: url("../img/clouds.gif");
}

/* fire image background for blockquote */
.firequote {
  background-image: url("../img/fire.gif");
}

/* a much smaller and differently styled quote */
.subquote {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px 5px 20px;
  padding: 0.4em 2em;
  border-radius: 5px;
  border-width: 2px;
  border-style: double;
  border-color: #441539;

  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 14px;
  font-size: 1.6vmin;
  letter-spacing: 0.1vmin;
}
