html,
body {
    padding-bottom: 5px;
}

body {
    margin: 0px 40px;
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
    background-image: url("../img/bg/6.gif");
    background-repeat: repeat;
}

#header {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
    padding: 5px;

    padding-top: 2%;
    padding-bottom: 0.75%;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

.row img {
    padding: 8px 2px;
    width: 9.6%;
    aspect-ratio: 1;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

div#name {
    text-align: center;
    justify-content: center;
}

div#wrapper {
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

div#content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    background: #1b0e18;
    background-image: linear-gradient(180deg,#1b0e18, #180714);
    color: aliceblue;
    border-style: inset;
    border-color: blueviolet;
    border-radius: 25px;
}

div#leftpane {
    float: left;
    width: 15%;
    margin-left: -100%;
}

div#rightpane {
    float: right;
    width: 15%;
    margin-left: -100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

th,
tr {
    padding: 5px 0px;
}

.button {
    width: 78%;
    box-shadow: 0 0 2px 2px black;
    border-radius: 25px;
}

.buttontable {
    padding: 40px 40px;
    padding-top: 10px;
}

.button:hover {
    box-shadow: 0 0 3px 3px blue;
    border-radius: 25px;
 }

copyright {
    font-size: 11px;
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    padding-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.308);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }