html,
body {
    background-image: url("../img/bg/6.gif");
    background-repeat: repeat;
    padding-bottom: 20px;
}

body {
    margin: 0px 40px;
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

#header {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
    padding: 5px;

    padding-top: 2%;
    padding-bottom: 0.75%;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

.row img {
    padding: 8px 2px;
    width: 9.6%;
    aspect-ratio: 1;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

div#name {
    text-align: center;
    justify-content: center;
}

div#wrapper {
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

div#content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 5px;

    background: #1b0e18;
    background-image: linear-gradient(180deg,#1b0e18, #180714);
    color: aliceblue;
    border-style: inset;
    border-color: blueviolet;
    border-radius: 25px;
}

div#leftpane {
    float: left;
    width: 15%;
    margin-left: -100%;
}

div#rightpane {
    float: right;
    width: 15%;
    margin-left: -100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

th,
tr {
    padding: 5px 0px;
}

.button {
    width: 78%;
}

.buttontable {
    padding: 40px 40px;
    padding-top: 10px;
}

.subquote {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin: 10px 5px 20px;
    padding: 0.4em 80px;
    border-radius: 5px;
    border-width: 2px;
    border-style: groove;
    border-color:  #180714;

    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    background: rgba(0, 0, 0, 0.5);
    border-left: 10px solid #ccc;
    margin: 1.5em 30px;
    padding: 0.5em 1.5em;
    border-radius: 2px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;

    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 60px;

    width: 100%;
    background-image: url("../img/clouds.gif");
    background-position: 0 -1000px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }